*{
    margin: 0;
    padding: 0;
    font-family: "Inter";
    scroll-behavior: smooth;
}


@keyframes tu {
    0%{

        opacity: 1;
            border-left: 1px solid rgb(2, 2, 27);
    border-right: 1px solid greenyellow;
    border-top: 1px solid rgb(5, 5, 22);
    border-bottom: 1px solid gold;
    }
        /* transform: scale(20deg); */
        /* transform: rotate(360deg);
        
    }
    50%{ */
        /* transform: scale(360deg); */
        /* transform: rotate(360deg);
    } 
        
    */
    20%{
        opacity: 1;
        /* transform: rotate(360deg); */
            border-left: 1px solid rgb(2, 2, 27);
    border-right: 1px solid greenyellow;
    border-top: 1px solid rgb(5, 5, 22);
    border-bottom: 1px solid gold;
    }

    50%{
        opacity: 1;
        /* transform: rotate(360deg); */
        border-left: 1px solid rgb(2, 3, 17);
        border-top: 1px solid greenyellow;
        border-right: 1px solid gold;
        border-bottom: 1px solid rgb(5, 5, 22);
    }
    
    
    60%{
        opacity: 1;
        /* transform: scale(360deg); */
        /* transform: rotate(360deg); */
                border-left: 1px solid rgb(2, 2, 27);
        border-top: 1px solid greenyellow;
        border-right: 1px solid gold;
        border-bottom: 1px solid rgb(3, 3, 17);
    }

    100%{
        opacity: 1;
        /* transform: rotate(360deg); */
                border-left: 1px solid rgb(199, 169, 2);
        border-top: 1px solid rgb(5, 5, 22);
        border-right: 1px solid gold;
        border-bottom: 1px solid rgb(2, 2, 27);
    }
}

.turn{
    position: relative;
    transition: all 3s ease-in-out;
 animation: rot 6s infinite normal linear;
  background-color: transparent;
  color: white;
  transform: rotate(60deg);
    opacity: 1;
}

@keyframes rot{
    from{
        position: absolute;
        opacity: 1;
       
    }
    to{
        position: absolute;
          transform: rotate(360deg);
        
        opacity: 1;
       
    }
}

/* NAVBAR */

.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    overflow: hidden;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    color: white;
    padding-top: 20px;
 background: url(images/pexels-ferarcosn-190819\ \(1\).jpg);
 background-position: center;
 background-size: cover;
 /* background-color: rgb(5, 6, 19); */
 background-repeat: no-repeat;
 background-blend-mode: multiply;
    padding-bottom: 20px;
    background:  linear-gradient(150deg, rgb(5, 5, 22) 75%, rgb(3, 3, 17) 25%);
}

.se{
    width: 150px;
     background:  linear-gradient(150deg, rgb(5, 5, 22) 75%, rgb(3, 3, 17) 25%);
    height: 5vh;
   /* background-color: rgb(199, 169, 2); */
    /* background: linear-gradient(150deg, rgb(4, 4, 15) 65%, rgb(3, 3, 17) 35%); */
    /* border-color: rgb(3, 3, 17); */
    color: white;
    font-weight: lighter;
            border-left: 1px solid blue;
        border-top: 1px solid greenyellow;
        border-right: 1px solid gold;
        border-bottom: 1px solid rgb(12, 12, 53);
    font-size: 1.1rem;
        opacity: 1;
    border-radius: 5px;
    animation: tu 15s forwards;
    /* opacity: 0; */
    animation-iteration-count: infinite;
    transition: all 0.3s ease-in-out;

}

.menu{
   padding-top: 9px;
    width: 52%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
   gap: 20px;
 
}
.menu a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: color 0.5s ease-in-out;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 1.25rem;
}
.menu a:hover{
  color: rgb(218, 185, 3);
}

.name{
     background: url(images/360_F_592877978_TMlwrCHMDMDW6A1MY6WA53lqfKHkY2YX.jpg);
 background-position: center;
 background-size: cover;
 /* background-color: rgb(5, 6, 19); */
 background-repeat: no-repeat;
 background-blend-mode: multiply;
    width: 22%;
    height: 5vh;
    font-size: 1.2rem;
    margin-left: 10px;
    padding-bottom: 20px;
       padding-left: 50px;
       border-radius: 50px;
       background-color: transparent;
}
.name span{
    background-color: transparent;
    color: rgb(199, 169, 2);
}

.name h1{
    font-size: 1.5rem;
    color: white;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
.get{
    position: absolute;
    right: 9%;
 top: 32%;
    width: 9%;
    display: flex;
    justify-content: space-between;
}
.get a{
    text-decoration: none;
    color: white;
    background-color: transparent;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 1.2rem;
     transition: color 0.5s ease-in-out;
     font-weight: bold;

}

.get a:hover{
  color: rgb(218, 185, 3);
}
.arro{
      content: '^';
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid silver;
    width: 40px;
    color:   rgb(199, 169, 2);
    text-align: center;
    border-radius: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
    font-weight: bold;
    position: fixed;
    bottom: 10px;
    right: 0;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    opacity: 0;
    z-index: 999;
    animation: arr 15s forwards;
    animation-iteration-count: infinite;
    transition: all 0.3s ease-in-out;
}

@keyframes arr{
    0%{
        opacity: 0;
        transform: rotate(360deg);
    }

    20%{
        opacity: 1;
       transform: rotate(360deg);
    }
        50%{
        opacity: 1;
        transform: rotate(360deg);
    }
        60%{
        opacity: 1;
       transform: rotate(360deg);
    }
        100%{
        opacity: 1;
        transform: scale(1);
    }
}
.arro::before{
    content: '';
      position: fixed;
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    border-radius: 20px;
    transition: width 0.5s ease-in-out;
    background-color: rgb(12, 12, 53);
    color: white;
    transform: translateX(-50%);
     /* border: 1px solid transparent; */
}
.arro:hover::before{
    content: '^';
    border-radius: 20px;
    color: white;
  transform: translateX(-50%);
    position: absolute;
    background-color: rgb(12, 12, 53);
    /* border: 1px solid rgb(12, 12, 53); */
    top: 0;
    left: 50%;
    width: 100%;
    transition: width 0.5s ease-in-out;
     /* border: 1px solid silver; */
}

.main{
    position: relative;
    top: 0;
    left: 0;
    /* right: 0; */
    background: url(images/pexels-ferarcosn-190819\ \(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 90vh;
    opacity: 2;
    border-style: 10px solid rgb(2, 2, 12);
    background-blend-mode: multiply;
    background-color: rgb(45, 45, 46);
     /* animation: both 4.5s forwards;
    animation-iteration-count: infinite; */
}


.main span{
    background-color: transparent;
    color: rgb(218, 185, 3);
font-size: 2.3rem;
}
.main mark{
    background-color: transparent;
    color: rgb(218, 185, 3);
    font-size: 2.3rem;
}

.main h1{
    position: absolute;
    top: 31%;
    width: 50%;
    right: 0;
   
    color: white;
    animation: mai 2s forwards;
    animation-delay: 0.001s;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    font-size: 2.5rem;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
@keyframes mai{
    from{
        right: 0;
        opacity: 0;
    }
    to{
        right: 16.5%;
        opacity: 1;
    }
}

.p1{
    position: absolute;
    top: 40%;
    width: 50%;
    right: 0;
    animation: mai2 2s forwards;
    animation-delay: 0.001s;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    font-size: 1.25rem;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    color: white;
}
@keyframes mai2{
    from{
        right: 0;
        opacity: 0;
    }
    to{
        right: 10.6%;
        opacity: 1;
    }
}
.p2{
        position: absolute;
    top: 49%;
    width: 50%;
    right: 0;
   animation: mai1 2s forwards;
    animation-delay: 0.001s;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    font-size: 1.25rem;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    color: white;
}
@keyframes mai1{
    from{
        right: 0;
        opacity: 0;
    }
    to{
        right: 12.6%;
        opacity: 1;
    }
}
.maina{
    content: '';
    position: absolute;
    top: 57%;
        right: 0;
   animation: mai13 2s forwards;
    animation-delay: 0.001s;
    opacity: 0;
    /* transition: opacity 0.2s ease-in-out; */
    right: 1%;
    /* left: 45%; */
    color: rgb(2, 2, 12);
  background: linear-gradient(120deg, rgb(199, 169, 2) 70%, rgb(218, 185, 3) 30%);
    text-align: center;
    text-decoration: none;
    width: 8%;
    border-radius: 6px;
    /* padding-left: 5px;
    padding-right: 0px; */
    padding-top: 17px;
    height: 5vh;
    padding-bottom: 10px;
    font-size: 1.1rem;
    transition: width 0.3s ease-in-out;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    transform: translateX(-50%);
}

@keyframes mai13{
    from{
        right: 1%;
        opacity: 0;
         transform: rotate(100deg);
    }
    to{
        right: 42%;
        opacity: 1;
       
    }
}
.maina::before{
    transition: width 0.5s ease-in-out;
    content: '';
    position: absolute;
    color: white;
    border-radius: 7px;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background-color: rgba(12, 11, 11, 0.2);
    transform: translateX(-50%);

}
.maina:hover::before{
    border-radius: 7px;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    background-color: rgba(14, 11, 11, 0.2);
    transform: translateX(-50%);
    border: 1px solid orangered;
    color: white;
        /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 1.3rem;
    font-weight: bold;
border: 1px solid transparent;
}




/* ABOUT */

.about{
    display: grid;
    text-align: center;
    
    width: 100%;
    padding-top: 50px;
    gap: 10px;
    grid-template-columns: auto auto auto;
    background-blend-mode: multiply;
    background-color: rgb(5, 5, 22);
         border-top-style: ridge;
    border-color: rgb(199, 169, 2), blue;
}

.abs mark{
    background-color: transparent;
    color: rgb(9, 9, 92);
    font-size: 1.4rem;
    font-weight: bold;
    
}
.jpg{
    position: absolute;
    width: 300px;
    left: 28px;
    height: 40vh;
    top: 10px;
    border-color: rgb(12, 12, 53);
}
.abs{
    position: relative;
    color: white;
background: linear-gradient( transparent 75%, rgba(0, 0, 0, 0.712) 25%), url(images/614TXNVX0OL._UY900_.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    /* background-color: rgb(45, 45, 46); */
    right: 0;
    width: 90%;
 font-weight: bold;
    padding-top: 350px;
      border-bottom-right-radius: 150px;
    height: 15vh;
    padding-left: 5px;
    /* background:  linear-gradient(150deg, rgb(8, 8, 36) 75%, rgb(12, 12, 53) 25%); */
}
.abs::before{
    transition: width 0.5s ease-in-out;
    content: '';
    position: absolute;
    color: white;
    border-radius: 7px;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background-color: rgba(12, 11, 11, 0.2);
    transform: translateX(-50%);

}
.abs:hover::before{
    border-radius: 7px;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    background-color: rgba(14, 11, 11, 0.2);
    transform: translateX(-50%);
    border: 1px solid orangered;
    color: white;
        /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 1.3rem;
    font-weight: bold;
border: 1px solid transparent;
}


.abs1 mark{
    background-color: transparent;
    color: rgb(9, 9, 92);
    font-size: 1.4rem;
    font-weight: bold;
    
}
.abs1::before{
    transition: width 0.5s ease-in-out;
    content: '';
    position: absolute;
    color: white;
    border-radius: 7px;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background-color: rgba(12, 11, 11, 0.2);
    transform: translateX(-50%);

}
.abs1:hover::before{
    border-radius: 7px;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    background-color: rgba(14, 11, 11, 0.2);
    transform: translateX(-50%);
    border: 1px solid orangered;
    color: white;
        /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 1.3rem;
    font-weight: bold;
border: 1px solid transparent;
}

.abs1{
    
    color: white;
    position: relative;
    left: 7%;
    width: 90%;
    padding-top: 350px;
     border-bottom-right-radius: 150px;
    height: 15vh;
background: linear-gradient( transparent 75%, rgba(0, 0, 0, 0.712) 25%), url(images/pexels-ferarcosn-190819\ \(1\).jpg);
font-weight: bold;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    /* background-color: rgb(145, 145, 148); */
    /* background:  linear-gradient(150deg, rgb(8, 8, 36) 75%, rgb(12, 12, 53) 25%); */
}

.abs2 mark{
    background-color: transparent;
    color: rgb(9, 9, 92);
    font-size: 1.4rem;
    font-weight: bold;
    
}

.abs2{
    color: white;
    position: relative;
    left: 5%;
    width: 90%;
    padding-top: 350px;
     border-bottom-right-radius: 150px;
    height: 15vh;
background: linear-gradient( transparent 75%, rgba(0, 0, 0, 0.712) 25%), url(images/image.jfif);
font-weight: bold;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    /* background-color: rgb(45, 45, 46); */
    /* background:  linear-gradient(150deg, rgb(8, 8, 36) 75%, rgb(12, 12, 53) 25%); */
}

.p1{
   
    /* padding-top: 270px; */
    font-size: 1.2rem;
}

/* store */

.store{
    background-color: rgb(3, 3, 17);
   
    text-align: center;
    padding-top: 70px;
}


.store mark{
    background-color: transparent;
    color: rgb(199, 169, 2);
}
.men a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: color 0.5s ease-in-out;
}
.men a:hover{
    color: silver;
}
.store h2{
    color: white;
    font-size: 2rem;
      padding-bottom: 10px;
}
.men{
    width: 60%;
    position: absolute;
    left: 25%;
    
    display: grid;
    grid-template-columns: auto auto auto;
}
.four1{
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgb(3, 3, 17);
    margin-top: 75px;
}
.four12{
    width: 90%;
   
    position: relative;
    left: 4%;
    background: url(images/811hZfwmupL._UY300_.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    /* background-color: rgb(137, 137, 138); */
    height: 40vh;
    /* background:  linear-gradient(150deg, rgb(8, 8, 36) 75%, rgb(12, 12, 53) 25%); */
}

.four12::before{
    transition: width 0.5s ease-in-out;
    content: '';
    position: absolute;
    color: white;
    border-radius: 7px;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background-color: rgba(12, 11, 11, 0.2);
    transform: translateX(-50%);

}
.four12:hover::before{
    border-radius: 7px;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    background-color: rgba(14, 11, 11, 0.2);
    transform: translateX(-50%);
    border: 1px solid orangered;
    color: white;
        /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 1.3rem;
    font-weight: bold;
border: 1px solid transparent;
}
.four3{
    width: 90%;
   
    position: relative;
    left: 4%;
    background: url(images/ebcdbb3cf53da4b16e5c88f6565b5b10.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    /* background-color: rgb(137, 137, 138); */
    height: 40vh;
    /* background:  linear-gradient(150deg, rgb(8, 8, 36) 75%, rgb(12, 12, 53) 25%); */
}

.four3::before{
    transition: width 0.5s ease-in-out;
    content: '';
    position: absolute;
    color: white;
    border-radius: 7px;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background-color: rgba(12, 11, 11, 0.2);
    transform: translateX(-50%);

}
.four3:hover::before{
    border-radius: 7px;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    background-color: rgba(14, 11, 11, 0.2);
    transform: translateX(-50%);
    border: 1px solid orangered;
    color: white;
        /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 1.3rem;
    font-weight: bold;
border: 1px solid transparent;
}

.four4{
    width: 90%;
   
    position: relative;
    left: 4%;
    background: url(images/luxury-classic-analog-men-s-wrist-golden-watch-white-background-3d-rendering_476612-5765.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    /* background-color: rgb(137, 137, 138); */
    height: 40vh;
    /* background:  linear-gradient(150deg, rgb(8, 8, 36) 75%, rgb(12, 12, 53) 25%); */
}

.four4::before{
    transition: width 0.5s ease-in-out;
    content: '';
    position: absolute;
    color: white;
    border-radius: 7px;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background-color: rgba(12, 11, 11, 0.2);
    transform: translateX(-50%);

}
.four4:hover::before{
    border-radius: 7px;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    background-color: rgba(14, 11, 11, 0.2);
    transform: translateX(-50%);
    border: 1px solid orangered;
    color: white;
        /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 1.3rem;
    font-weight: bold;
border: 1px solid transparent;
}
.four{
    width: 90%;
   
    position: relative;
    left: 4%;
    background: url(images/1268310314_0340_0340.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    /* background-color: rgb(137, 137, 138); */
    height: 40vh;
    /* background:  linear-gradient(150deg, rgb(8, 8, 36) 75%, rgb(12, 12, 53) 25%); */
}

.four::before{
    transition: width 0.5s ease-in-out;
    content: '';
    position: absolute;
    color: white;
    border-radius: 7px;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background-color: rgba(12, 11, 11, 0.2);
    transform: translateX(-50%);

}
.four:hover::before{
    border-radius: 7px;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    background-color: rgba(14, 11, 